@charset "utf-8";

@font-face {
    font-family: "iconfont";
    src: url('../../fonts/iconfont.eot');
    /* IE9*/
    
    src: url('../../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    
    url('../../fonts/iconfont.woff') format('woff'),
    /* chrome、firefox */
    
    url('../../fonts/iconfont.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    
    url('../../fonts/iconfont.svg#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

// 如果不需要兼容 IE8-，采用伪类:before来设置content，根据不同的class来设置不同的content，以显示不同的图标
@if $lte7 {
    
} @else {
    .icon-upload:before {
        content: "\e600";
    }
    .icon-speaker:before {
        content: "\e601";
    }
    .icon-tag:before {
        content: "\e602";
    }
    .icon-calendar:before {
        content: "\e603";
    }
    .icon-music:before {
        content: "\e604";
    }
    .icon-washer:before {
        content: "\e605";
    }
    .icon-dialog:before {
        content: "\e606";
    }
    .icon-babycar:before {
        content: "\e607";
    }
    .icon-sound:before {
        content: "\e608";
    }
    .icon-sneaker:before {
        content: "\e609";
    }
    .icon-camera:before {
        content: "\e60a";
    }
    .icon-sofa:before {
        content: "\e60b";
    }
    .icon-laptop:before {
        content: "\e60c";
    }
    .icon-printer:before {
        content: "\e60d";
    }
    .icon-handle:before {
        content: "\e60e";
    }
    .icon-recommend:before {
        content: "\e60f";
    }
    .icon-remind:before {
        content: "\e610";
    }
    .icon-hint:before {
        content: "\e611";
    }
    .icon-warn:before {
        content: "\e612";
    }
    .icon-help:before {
        content: "\e613";
    }
    .icon-USB:before {
        content: "\e614";
    }
    .icon-flag:before {
        content: "\e615";
    }
    .icon-share:before {
        content: "\e616";
    }
    .icon-text:before {
        content: "\e617";
    }
    .icon-save:before {
        content: "\e618";
    }
    .icon-email:before {
        content: "\e619";
    }
    .icon-like:before {
        content: "\e61a";
    }
    .icon-dislike:before {
        content: "\e61b";
    }
    .icon-setting:before {
        content: "\e61c";
    }
    .icon-delete:before {
        content: "\e61d";
    }
    .icon-info:before {
        content: "\e61e";
    }
    .icon-heart:before {
        content: "\e620";
    }
    .icon-shoppingcar-empty:before {
        content: "\e621";
    }
    .icon-earphone:before {
        content: "\e622";
    }
    .icon-location:before {
        content: "\e623";
    }
    .icon-friends:before {
        content: "\e624";
    }
    .icon-edit:before {
        content: "\e625";
    }
    .icon-RMB:before {
        content: "\e626";
    }
    .icon-cancel-circle:before {
        content: "\e629";
    }
    .icon-checkbox-circle:before {
        content: "\e62a";
    }
    .icon-fujian:before {
        content: "\e62b";
    }
    .icon-refresh:before {
        content: "\e62c";
    }
    .icon-download:before {
        content: "\e62d";
    }
    .icon-plus:before {
        content: "\e62e";
    }
    .icon-minus:before {
        content: "\e62f";
    }
    .icon-shoppingcar-fill:before {
        content: "\e630";
    }
    .icon-blocked:before {
        content: "\e631";
    }
    .icon-AppCenter:before {
        content: "\e632";
    }
    .icon-weibo:before {
        content: "\e633";
    }
    .icon-qq:before {
        content: "\e635";
    }
    .icon-android:before {
        content: "\e636";
    }
    .icon-github:before {
        content: "\e637";
    }
    .icon-map:before {
        content: "\e638";
    }
    .icon-win8:before {
        content: "\e639";
    }
    .icon-apple:before {
        content: "\e63a";
    }
    .icon-rouge:before {
        content: "\e63b";
    }
    .icon-arrow-left:before {
        content: "\e63c";
    }
    .icon-arrow-bottom:before {
        content: "\e63f";
    }
    .icon-aarrow-top:before {
        content: "\e640";
    }
    .icon-arrow-right:before {
        content: "\e641";
    }
    .icon-baihuo:before {
        content: "\e63d";
    }
    .icon-list:before {
        content: "\e64c";
    }
    .icon-list2:before {
        content: "\e63e";
    }
    .icon-search:before {
        content: "\e642";
    }
    .icon-iphone:before {
        content: "\e643";
    }
    .icon-ipad:before {
        content: "\e644";
    }
    .icon-collect:before {
        content: "\e645";
    }
    .icon-collect-hover:before {
        content: "\e648";
    }
    .icon-car:before {
        content: "\e646";
    }
    .icon-DIY:before {
        content: "\e647";
    }
    .icon-image:before {
        content: "\e649";
    }
    .icon-loop:before {
        content: "\e64a";
    }
    .icon-article:before {
        content: "\e64b";
    }
    .icon-user:before {
        content: "\e64d";
    }
    .icon-DC:before {
        content: "\e64e";
    }
    .icon-comment:before {
        content: "\e64f";
    }
    .icon-suggest:before {
        content: "\e650";
    }
    .icon-pengyouquan:before {
        content: "\e651";
    }
    .icon-router:before {
        content: "\e652";
    }
    .icon-qzone:before {
        content: "\e653";
    }
    .icon-backtop:before {
        content: "\e654";
    }
    .icon-wechat:before {
        content: "\e655";
    }
    .icon-clock:before {
        content: "\e656";
    }
    .icon-jifen:before {
        content: "\e657";
    }
}
