@charset "utf-8";

/*                                                         
 * alert 警告框
 * author: shunjinchan@gmail.com                                                   
 */

.alert {
    font-size: 14px;
    padding: 10px 15px;
    margin-bottom: 1em;
    border: 1px solid transparent;
    border-radius: $alertBorderRadius;
}

.alert-warning {
    color: $alertText;
    background: $alertBg;
    border-color: $alertBorderColor;
}

