@charset "utf-8";
/*                                                         
 * nav 导航
 * author: shunjinchan@gmail.com   
 */

.nav {
    height: $navHeight;
    line-height: $navHeight;
    background-color: $navBgColor;
    overflow: hidden;
    li {
        float: left;
        a {
            display: block;
            color: $navTextColor;
            padding: 0 20px;
            @include transition(all, 0.3s, ease-in);
            &:hover, &:focus {
                text-decoration: none;
                background-color: $navItemHoverBg;
                color: $navTextHoverColor;
                @include transition(all, 0.3s, ease-in);
            }
        }
    }
    .active {
        a {
            background-color: $navItemHoverBg;
            color: $navTextHoverColor;
        }
    }
}

.nav-fixed-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: $zindexNavbar;
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.3));
    @if $lte7 {
        _position: absolute;
        _width: expression(eval(document.documentElement.clientWidth));
        _top: expression(eval(document.documentElement.scrollTop));
    }
}

@if $lte7 {
    /* 修正IE6振动bug */
    * html,* html body {
        background-image:url(about:blank);
        background-attachment:fixed;
    }
}
