@charset "utf-8";

/*                                                         
 * progress 进度条
 * author: shunjinchan@gmail.com   
 */

.progress {
    height: $progressHeight;
    background-color: $progressBg;
    @include border-radius($progressRadius);
}
.progress-bar {
    height: $progressHeight;
    @include border-radius($progressRadius);
    background-color: $progressBarBg;
    width: 50%;
    @include transition(width .3s ease-in-out);

}